/**
 * Variables
 */
$container-width: 90%;
$container-max-width: 1120px;

$font: 300 16px/1.15 'Fira Sans', "Lucida Sans Unicode", "Lucida Grande", sans-serif;

$standart-animation: all .3s ease;

$brand-color: #27c993;

$accent-color: #0268c7;
$title-color: #2d2e32;

%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

/**
 * Mixins
 */
@mixin container($with-max: true) {
    position: relative;
    width: $container-width;
    margin: 0 auto;

    @if $with-max { max-width: $container-max-width; }
}

@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

/**
 *
 */
@mixin bp-large {
  @media only screen and (min-width: 780px) {
    @content;
  }
}
