/**
 * VARIABLES
 */
$container-width: 90%;
$container-max-width: 1120px;

$font: 300 16px/1 'Fira Sans', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
$font-stack: 'Fira Sans', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
$font-size: 16px;

$title-size: 20em/16;
$big-title-size: 22em/16;

/* colors */
$brand: #0268c7;
$brand-dark: #00529f;

$brand-green: #27c993;
$brand-yellow: #f0c61f;

$black: #2d2e32;
$black-light: #767881;
$black-lightest: #cdcfd9;

$height-elems: 33px;

/**
 * HELPERS
 */
%clearfix {
    *zoom: 1;
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

/**
 * MIXINS
 */
@mixin container( $width: $container-width, $with-max: true ) {
    position: relative;
    width: $container-width;
    margin: 0 auto;

    @if $with-max { 
        max-width: $container-max-width;
    }
}

@mixin bp-large {
    @media only screen and (min-width: 780px) {
        @content;
    }
}

@mixin transition( $property: all, $duration: .4s, $timing: ease-out, $delay: 0s) {
    transition: $property $duration $timing $delay;
}

.title {
    font-size: $title-size;
    font-weight: 500;
    line-height: 1.25;

    color: $black;

    @include bp-large {
        font-size: $big-title-size;
    }
}