@import url(http://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,300italic,400italic,500italic&subset=cyrillic,latin);
/* Base */
@viewport {
  width: device-width;
  zoom: 1.0; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

*,
*:before,
*:after {
  box-sizing: border-box; }

html,
body {
  height: 100%; }

html {
  background: #fff;
  text-size-adjust: 100%; }

audio,
canvas,
video {
  display: inline-block; }

body {
  line-height: 1.5;
  overflow-y: scroll; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

a:focus {
  outline: none; }

a:active,
a:hover {
  outline: 0; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img,
video {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

iframe,
object,
embed {
  max-width: 100%; }

img {
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer; }

input[type="search"] {
  box-sizing: border-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

select {
  outline: none; }

/* Utils */
.header__inner:after, .course_review__wrap_btn:after {
  display: block;
  clear: both;
  content: ''; }

/* Component */
.btn_star {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 35px;
  height: 30px;
  background: transparent url("../imgs/star/sprite.png") no-repeat 0 0;
  border: none;
  outline: none; }

.btn_star:hover {
  background-position: 0 -30px; }

.btn_star-active,
.btn_star.btn_star-active:hover,
.btn_star.btn_star-active:focus {
  background-position: 0 -60px; }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .btn_star {
    background-image: url("../imgs/star/sprite_x2.png");
    background-size: 35px 90px; } }

.ct-select {
  display: inline-block;
  padding: 6px 8px;
  font: 300 16px/1.15 "Fira Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #4d4d52;
  background: #fff;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  transition: all 0.3s ease;
  box-shadow: none; }
  .ct-select:hover,
  .ct-select:focus {
    border-color: #4d4d52; }

/* Layout */
.header {
  width: 100%;
  padding: 20px 0;
  background: #fff;
  border-bottom: 1px solid #e4e4e4;
  box-shadow: 3px 0 3px 1px rgba(40, 41, 45, 0.2);
  font: 300 16px/1.15 "Fira Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif; }

.header__inner {
  position: relative;
  width: 90%;
  max-width: 960px;
  margin: 0 auto; }

.header__logo {
  text-align: center;
  font-size: 1.3125em;
  font-weight: 500;
  line-height: .955;
  color: #28bd8b; }

.header__additional_wrap, .header__additional_wrap-left, .header__additional_wrap-right {
  position: absolute;
  bottom: 0; }

.header__additional_wrap-left {
  left: 0; }

.header__additional_wrap-right {
  right: 0; }

.header__link {
  position: relative;
  font-weight: 300;
  color: #5a5c64;
  transition: all 0.3s ease; }
  .header__link:hover,
  .header__link:active {
    color: #1ba8ed; }

.main__inner {
  width: 90%;
  max-width: 960px;
  margin: 30px auto 40px; }

.filters {
  margin: 0 auto 25px auto;
  padding: 15px 25px;
  font: 300 16px/1.15 "Fira Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif; }

.filters__label {
  margin: 0 15px 0 0;
  color: #969698; }

.courses_preview__list {
  font-size: 0; }

.courses_preview__item {
  display: inline-block;
  width: 100%;
  margin: 10px 0 0 0;
  border-bottom: 1px solid #e4e4e4;
  font: 300 16px/1.15 "Fira Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif; }

.courses_preview__item:first-child {
  margin-top: 0;
  border-top: 1px solid #e4e4e4; }

.course_review__inner {
  position: relative;
  margin: 20px 25px 25px 25px; }

.course_review__title {
  margin: 0 40px 20px 0;
  font-size: 1.375em;
  font-weight: 500;
  line-height: 1.25;
  color: #28292d; }

.course_review__desc {
  margin: 0 0 25px 0;
  color: #969698; }

.course_review__desc span {
  font-weight: 500;
  color: #28292d; }

.course_review__link {
  float: right;
  font-size: 1em;
  font-weight: 400;
  color: #1ba8ed;
  display: inline-block;
  padding: 11px 18px;
  background-color: transparent;
  border: 1px solid #1ba8ed;
  border-radius: 4px;
  transition: background-color, color 0.3s ease; }
  .course_review__link:hover {
    background-color: #1ba8ed;
    color: #fff; }

.course_details {
  font: 300 16px/1.15 "Fira Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif; }

.course_details__title {
  position: relative;
  padding: 0 40px 0 0;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.25;
  color: #28292d; }

.course_details__description,
.course_details__author_desc {
  font-style: italic;
  word-wrap: break-word; }

.course_details__title,
.course_details__description,
.course_details__lessons {
  margin: 0 0 20px 0; }

.course_details__link {
  display: inline-block;
  margin: 0 0 5px 0;
  font-size: 1.125em;
  font-weight: 400;
  line-height: 1.5;
  color: #1578a9;
  transition: color 0.3s ease; }
  .course_details__link:hover,
  .course_details__link:active {
    color: #1ba8ed; }

.course_details__author h3 {
  margin-bottom: 5px; }

.course_details__author_title,
.course_details__author span {
  font-size: 1.125em; }

.course_details__author_title {
  font-weight: 500; }

.course_details__author span {
  font-weight: 400; }

.lesson {
  font: 300 16px/1.15 "Fira Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif; }

.lesson__link_to_course {
  display: inline-block;
  margin: 0 0 20px 0; }

.lesson__video {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-bottom: 25px;
  z-index: 99; }
  .lesson__video:before,
  .lesson__video:after {
    content: " ";
    position: absolute;
    top: 0;
    display: block;
    width: 5.555555555555556%;
    height: 100%;
    background: #000;
    z-index: 100; }
  .lesson__video:before {
    left: -5.555555555555556%; }
  .lesson__video:after {
    right: -5.555555555555556%; }

.lesson__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000; }

.lesson__title {
  margin: 0 0 20px 0;
  font-size: 1.3125em;
  font-weight: 500;
  color: #28292d; }

.lesson__desc {
  font-size: 1em;
  font-style: italic;
  line-height: 1.25; }

.lesson__neighbor_lesson {
  display: inline-block;
  width: 5.555555555555556%;
  height: 50px;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  line-height: 50px;
  color: #fff;
  background: #000 url("../imgs/chevron/chevron.png") center 0 no-repeat;
  z-index: 101; }

.lesson__neighbor_lesson-forward {
  background-position-y: 0;
  right: -5.555555555555556%; }

.lesson__neighbor_lesson-forward:hover {
  background-position-y: -50px; }

.lesson__neighbor_lesson-forward:active {
  background-position-y: -100px; }

.lesson__neighbor_lesson-back {
  background-position-y: -150px;
  left: -5.555555555555556%; }

.lesson__neighbor_lesson-back:hover {
  background-position-y: -200px; }

.lesson__neighbor_lesson-back:active {
  background-position-y: -250px; }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .lesson__neighbor_lesson {
    background-image: url("../imgs/chevron/chevron_x2.png");
    background-size: 24px 300px; } }
