$container-width: 90%;
$container-max-width: 1120px;

$font: 300 16px/1.15 'Fira Sans', "Lucida Sans Unicode", "Lucida Grande", sans-serif;

$standart-animation: all .3s ease;

$brand-color: #27c993;

$accent-color: #0268c7;
$title-color: #2d2e32;

