.course_details {
}

.course_details__title {
    position: relative;
    padding: 0 40px 0 0;

    font-size: (24em/16);
    font-weight: 500;
    line-height: 1.25;
}

.course_details__desc {
    @extend %clearfix;
}

.course_details__description,
.course_details__author_desc {
    font-style: italic;
    word-wrap: break-word;
}
    .course_details__title,
    .course_details__description,
    .course_details__lessons {
        margin: 0 0 20px 0;
    }

.course_details__lessons_list {
    padding-left: 10px;
}

.course_details__link {
    display: inline-block;
    margin: 0 0 5px 0;

    font-size: (18em/16);
    font-weight: 400;
    line-height: 1.5;
    color: #1578a9;
    transition: color .3s ease;

    &:hover,
    &:active {
        color: #1ba8ed;
    }
}

.course_details__author h3 {
    margin-bottom: 5px;
    padding-left: 10px;
}

.course_details__author_title,
.course_details__author span {
    font-size: (18em/16);

}
    .course_details__author_title {
        font-weight: 500;
    }
    .course_details__author span {
        font-weight: 400;
    }

.course_details__desc h2 {
    margin: 0 0 15px 0;
    padding-left: 10px;
    
    font-size: 16px;
    line-height: 25px;
    font-weight: 300;
    color: #767881;

    border-bottom: 1px solid #cdcfd9;
}

.course_details__lessons,
.course_details__author {
    @include bp-large {
        width: 50%;
        float: left;
    }
}

.course_details__lessons {
    @include bp-large {
        width: 58.33333333333333%;
    }
}

.course_details__author {
    @include bp-large {
        width: 41.66666666666667%;
        padding-left: 2%;
    }
}