.courses_preview {

}

.courses_preview__list {
    font-size: 0;
}

.courses_preview__item {
    display: inline-block;
    width: 100%;
    margin: 10px 0 0 0;

    border-bottom: 1px solid #e4e4e4;

    font: $font;
}
    .courses_preview__item:first-child {
        margin-top: 0;
        border-top: 1px solid #e4e4e4;
    }

.course_review__inner {
    position: relative;

    margin: 20px 25px 25px 25px;
}

.course_review__title {
    margin: 0 40px 20px 0;

    font-size: (22em/16);
    font-weight: 500;
    line-height: 1.25;
    color: $title-color;
}

.course_review__desc {
    margin: 0 0 25px 0;
    color: #969698;
}

.course_review__desc span {
    font-weight: 500;
    color: $title-color;
}

.course_review__wrap_btn {
    @extend %clearfix;
}

.course_review__link {
    float: right;

    font-size: (16em/16);
    font-weight: 400;
    color: #1ba8ed;

    display: inline-block;
    padding: 11px 18px;

    background-color: transparent;
    border: 1px solid #1ba8ed;
    border-radius: 4px;

    transition: background-color, color .3s ease;

    &:hover {
        background-color: #1ba8ed;
        color: #fff;
    }
}