.header {
    width: 100%;
    padding: 20px 0;

    background: #fff;
    border-bottom: 1px solid #f0f1f7;

    font: $font;
}

.header__inner {
    position: relative;
    width: 90%;
    max-width: $container-max-width;
    margin: 0 auto;
    
    @extend %clearfix;
}

.header__logo {
    text-align: center;

    font-size: (21em/16);
    font-weight: 500;
    line-height: 0.834;
    color: #13c2c3;
}

.header__additional_wrap {
    position: absolute;
    bottom: 0;
}
    .header__additional_wrap-left {
        @extend .header__additional_wrap;
        left: 0;
    }
    .header__additional_wrap-right {
        @extend  .header__additional_wrap;
        right: 0;
    }

.header__link {
    position: relative;
    font-weight: 400;
    color: #a1a4b3;

    transition: $standart-animation;

    &:hover,
    &:active {
        color: #737580;
    }
}