.header {
    width: 100%;
    padding: 20px 0;

    background: #fff;
    border-bottom: 1px solid #e4e4e4;
    box-shadow: 3px 0 3px 1px rgba(40, 41, 45, .2);

    font: $font;
}

.header__inner {
    position: relative;
    width: $container-width;
    max-width: $container-max-width;
    margin: 0 auto;

    @extend %clearfix;
}

.header__logo {
    text-align: center;

    font-size: (21em/16);
    font-weight: 500;
    line-height: .955;
    color: #28bd8b;
}

.header__additional_wrap {
    position: absolute;
    bottom: 0;
}
    .header__additional_wrap-left {
        @extend .header__additional_wrap;
        left: 0;
    }
    .header__additional_wrap-right {
        @extend .header__additional_wrap;
        right: 0;
    }

.header__link {
    position: relative;
    font-weight: 300;
    color: #5a5c64;

    transition: $standart-animation;

    &:hover,
    &:active {
        color: #1ba8ed;
    }
}