.index__action {
    @include container;

    @extend %clearfix;
    margin-bottom: 25px;
    padding: 15px 0 0 0;

    font: $font;
}

/**
 * FILTERS
 */
.index__action_f {
    padding-bottom: 15px;

    @include bp-large {
        padding-bottom: 0;
        width: 50%;
        float: left;
    }
}

.filters .ct-select_wrap {
    margin: 0 20px 5px 0;
}

.filters .ct-select_wrap::before {
    content: attr(title);

    position: absolute;
    left: 15px;
    bottom: 100%;

    font-size: 14px;
    color: #cdcfd9;
} 

/**
 * SEARCH
 */
.index__action_s {
    @include bp-large {
        width: 50%;
        float: right;
    }
}

.index__action_s .ct-search {
    width: 100%;
    float: right;

    @include bp-large {
        width: 75%;
    }
}