.index__action {
    @include container;

    @extend %clearfix;
    margin-bottom: 25px;
    padding: 15px 0 0 0;

    font: $font;
}

/**
 * FILTERS
 */
.index .filters {
    padding-bottom: 15px;

    @include bp-large {
        width: 50%;
        float: left;
        padding-bottom: 0;
    }
}

.index .ct-select {
    max-width: 50%;
    margin: 0 20px 5px 0;
}

/**
 * SEARCH
 */
.index .search__wrap {
    text-align: right;

    @include bp-large {
        width: 50%;
        float: right;
    }
}

.index .ct-search {
    width: 100%;

    @include bp-large {
        width: 50%;
    }
}