.main {
    position: relative;
    margin: 30px auto 40px;
}

.about__inner,
.course_details__inner,
.lesson__inner {
     @include container;
}

.breadcrumps {
    margin: 0 0 25px 0;
}
.breadcrumps__item {
    display: inline-block;
    position: relative;
    padding: 0 0 0 15px;

    font-size: 16px;
    font-weight: 300;
    color: #767881;



    &:before {
        content: '\e8ae';
        @extend .icon;
        position: absolute;
        top: 50%;
        margin-top: -10.5px;
        left: -5px;

        font-size: 21px;
        line-height: 1;
        color: #d4d5de;

        @include transition(left .3s ease);
    }

    &:hover:before {
        left: -8px;
    }
}