.header {
    width: 100%;
    padding: 18px 0;
    
    font-size: 10px;
    line-height: 1;

    background: #fff;

    border-bottom: 1px solid #e5e5e5;

    text-align: center;
}

.header__inner {
    position: relative;
    width: 94%;
    max-width: 1260px;
    margin: 0 auto;
}

.header__home,
.header__about {
    display: inline-block;
    position: absolute;
    bottom: 0;

    font-size: 14px;
    color: #bcc0c1;
    text-decoration: none;

    transition: color .4s ease;
}
    .header__home {
        left: 0;
    }
    .header__about {
        right: 0;
    }
    .header__home:hover,
    .header__about:hover {
        color: #939595;
    }

.header__logo {
    display: inline-block;
    position: relative;

    font-size: 2.4em;
    line-height: .71;
    font-weight: 500;
    color: #27ae60;
}

.header__version {
    position: absolute;
    top: -4px;
    right: 4px;

    font-size: 0.75em;
    font-weight: 300;
    font-style: italic;
    color: #bcc0c1;
}