.preview_courses {
    width: 100%;
    max-width: 620px;
    margin: 0 auto;
}
    .preview_courses:after {
        content: "";
        display: table;
        clear: both;
    }

.preview_course {
    width: 100%;
    margin: 0 0 20px 0;
}

.preview_course:last-child {
    margin-bottom: 0;
}

.course_review__inner {
    padding: 30px 20px;

    background: #fff;
    border: 1px solid #cdd1d7;
    border-radius: 4px;

    font-size: 10px;
    color: #454747;
}

.course_review__title {
    position: relative;

    margin: 0 0 20px 0;
    padding: 0 0 15px 0;

    font-size: 2.4em;
    font-weight: 500;
    color: #454747;
}
    .course_review__title:after {
        content: "";

        position: absolute;
        bottom: 0;
        left: 0;

        width: 75%;
        height: 2px;

        background: #ecf0f1;
    }

.course_review__summary {
    padding: 0 0 25px 0;
    font-size: 1.6em;
}

.course_review__desc {
    font-size: 1.5em;
}

.course_review__desc span {
    font-weight: 500;
}

.course_review__wrap_btn {
    margin: 25px 0 0 0;
}

.course_review__link {
    display: inline-block;

    padding: 6px 30px;

    background-color: #65d494;
    border: 1px solid #5dc288;
    border-radius: 4px;

    font-size: 1.6em;
    font-weight: 500;
    color: #fff;
    text-decoration: none;

    transition: background-color .4s ease;
}
    .course_review__link:hover,
    .course_review__link:active {
        background: #5dc288;
    }