.btn_star {
    position: absolute;
    top: 0;
    right: 0;

    display: block;
    width: 35px;
    height: 30px;

    background: transparent url("../imgs/star/sprite_x2.png") no-repeat 0 0;
    background-size: 35px 90px;

    border: none;
    outline: none;
}
    .btn_star:hover {
        background-position: 0 -30px;
    }
    .btn_star-active,
    .btn_star.btn_star-active:hover,
    .btn_star.btn_star-active:focus {
        background-position: 0 -60px;
    }