%resetElement {
    display: block;
    position: relative;
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none;

    font: $font;
    color: #767881;
}

%elementRounded {
    border: 1px solid #cdcfd9;
    border-radius: 20px;
}

/* SELECT */
.ct-select_wrap {
    display: inline-block;
    position: relative;

    &:after {
        content: " ";

        position: absolute;
        top: 1px;
        right: 1px;
    
        width: 35px;
        height: 31px;
        
        background: #fff url(../imgs/arrow_bottom.png) center no-repeat;
        background-size: 10px 5px;
    
        border-radius: 0 20px 20px 0;
    }
}

.ct-select {
    @extend %resetElement;
    @extend %elementRounded;


    height: 33px;
    padding: 5px 35px 5px 15px;

    @include transition(border-color .3s ease-out);

    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;

    &:hover,
    &:focus {
        border-color: #767881;
    }

    &:disabled {
        color: #cdcfd9;
    }

    &:disabled:hover {
        border-color: #cdcfd9;
    }
}

.ct-select option {
    width: 99%;
}

/* SEARCH */
.search__wrap {
    @extend %clearfix;
}

.ct-search {
    @extend %resetElement;
    @extend %elementRounded;

    height: 33px;
    padding: 5px 15px;
}