%resetElement {
    display: inline-block;
    position: relative;
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none;

    font: $font;
    color: #767881;
}

%elementRounded {
    border: 1px solid #cdcfd9;
    border-radius: 20px;
}

%ct-inp_rounded {
    @extend %resetElement;

    height: 33px;
    padding: 5px 20px;

    @extend %elementRounded;

    @include transition(border-color .3s ease-out);

    &:hover,
    &:focus {
        border-color: #767881;
    }
}

/* SELECT */
.ct-select {
    @extend %ct-inp_rounded;
    line-height: 33px;
}

/* SEARCH */
.ct-search {
    @extend %ct-inp_rounded;
}